.join_meeting,
.create_meeting {
  width: 100vw;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 25vh;
}

.join-form-wrapper,
.create-form-wrapper {
  background-color: #fff;
  border-radius: 10px;
  width: 28rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 60px 0px;
  margin: 20px 0;
  padding-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: relative;
}

.modal_head {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0 20px;
  margin-top: 6px;
  margin-bottom: 20px;
}
.form {
  width: 80%;
  margin: 0px auto;
  margin-top: 20px;
}
.meeting-name,
.host-name,
.meeting-id {
  width: 100%;
  margin: 10px 0;
}

.input-button a {
  color: #fff;
}
.input-button {
  background-color: var(--primary-color);
  padding: 10px 30px;
  width: 100%;
  border-radius: 6px;
  color: #fff;
  border: none;
  font-weight: 700;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  margin-top: 10px;
}
.closeModal {
  padding: 4px 8px;
  cursor: pointer;
  background-color: var(--secondary-color);
  position: absolute;
  top: 16px;
  right: 20px;
}
